@media (min-width: 768px) {
  .Layout .VPHome {
    padding-bottom: 20px;
  }
}

@media (max-width: 639px) {
  .actions {
    justify-content: space-around;
  }

  .VPButton.brand {
    width: calc(100vw - 48px);
  }
}

.VPHomeHero:not(.has-image) .main .text,
.VPHomeHero:not(.has-image) .main .tagline {
  max-width: inherit;
}

.vp-doc table.im-table {
  display: table;
  width: 100%;
  --data-indent: 0;
}

.vp-doc._openapi_ table {
  margin: 0;
}

.im-table thead th,
.im-table tbody tr td[rowspan]:first-child {
  cursor: default;
  white-space: nowrap;
}

.im-table tbody tr td[rowspan] {
  background-color: var(--vp-c-bg-soft);
}

th.type {
  width: 80px;
}

th.desc {
  width: 50%;
}

[data-indent="1"] {
  --data-indent: 1;
}

[data-indent="2"] {
  --data-indent: 2;
}

[data-indent="3"] {
  --data-indent: 3;
}

[data-indent="4"] {
  --data-indent: 4;
}

[data-indent="5"] {
  --data-indent: 5;
}

[data-indent="6"] {
  --data-indent: 6;
}

[data-indent="7"] {
  --data-indent: 7;
}

[data-indent="8"] {
  --data-indent: 8;
}

[data-indent="9"] {
  --data-indent: 9;
}

[data-indent="10"] {
  --data-indent: 10;
}

td[data-indent] {
  text-indent: calc(var(--data-indent) * .85em);
  white-space: nowrap;
}
