@media (min-width: 768px) {
  .Layout .VPHome {
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {

  #request th:nth-of-type(2),
  #request tbody td:nth-of-type(2),
  #response th:nth-of-type(2),
  #response tbody td:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 639px) {
  .actions {
    justify-content: space-around;
  }

  .actions .action:has(>.VPButton.brand) {
    flex-grow: 1;
  }

  .VPButton.brand {
    width: 100%;
  }

  .im-home .VPHome {
    margin-bottom: 0px;
  }
}

.vp-code-group .tabs::-webkit-scrollbar,
.vp-code-group .tabs::-webkit-scrollbar-track,
.vp-doc [class*="language-"] pre::-webkit-scrollbar,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-track,
.VPSidebar::-webkit-scrollbar,
.VPSidebar::-webkit-scrollbar-track {
  background-color: initial
}

.vp-code-group .tabs::-webkit-scrollbar-thumb:active,
.vp-code-group .tabs::-webkit-scrollbar-thumb:hover,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb:active,
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb:hover,
.VPSidebar::-webkit-scrollbar-thumb:active,
.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--vp-c-text-1) !important
}

.vp-code-group .tabs:active::-webkit-scrollbar-thumb,
.vp-code-group .tabs:focus-within::-webkit-scrollbar-thumb,
.vp-code-group .tabs:focus::-webkit-scrollbar-thumb,
.vp-code-group .tabs:hover::-webkit-scrollbar-thumb,
.vp-code-group .tabs:active::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:focus-within::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:focus::-webkit-scrollbar-thumb,
.vp-doc [class*="language-"] pre:hover::-webkit-scrollbar-thumb,
.VPSidebar:active::-webkit-scrollbar-thumb,
.VPSidebar:focus-within::-webkit-scrollbar-thumb,
.VPSidebar:focus::-webkit-scrollbar-thumb,
.VPSidebar:hover::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--vp-c-text-3);
  border: 4px solid #0000;
  border-radius: 10px
}

.im-home {
  --im-gradient-p1: #ecd8ff;
  --im-gradient-p2: #e8fca7;
  --im-gradient-p3: #dafbe1;
  --im-gradient-p4: #ffd8b5;
  --im-feature-shadow: rgba(0, 0, 0, 0.1);
  --im-feature-shadow-hover: rgba(0, 0, 0, 0.3);
  --vp-c-bg-soft: rgba(255, 255, 245, .6);
  background: linear-gradient(-40deg, var(--im-gradient-p1), var(--im-gradient-p2), var(--im-gradient-p3), var(--im-gradient-p4));
  background-size: 120% 120%;
  --vp-c-bg: transparent;
  --vp-c-gutter: transparent;
  --vp-home-hero-name-color: var(--vp-c-text-1);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #00ff84 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

.im-home .VPFeature {
  box-shadow: 0 0.1em 1em 0 var(--im-feature-shadow);
  transition: box-shadow .5s, border-color .25s, background-color .25s;
  font-family: var(--vp-font-family-mono);
}

.im-home .VPFeature:hover {
  box-shadow: 0 0.1em 1em 0 var(--im-feature-shadow-hover);
}

.im-home .VPContent.is-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .im-home {
  --im-gradient-p1: #8356dc;
  --im-gradient-p3: #5908a6;
  --im-gradient-p2: #044f1e;
  --im-gradient-p4: #49bcb7;
  --im-feature-shadow: rgba(97, 236, 238, 0.2);
  --im-feature-shadow-hover: rgba(97, 236, 238, 0.8);
  --vp-c-bg-soft: rgba(11, 11, 11, .35);
}

.VPHomeHero .container {
  padding-top: 45px;
  padding-bottom: 30px;
}

._guide_getting-started div.language->button.copy,
._guide_ div.language->button.copy {
  display: none;
}

.custom-block:not(.im-badges)[class^="im-"] {
  display: flex;
  align-items: center;
}

.custom-block:not(.im-badges)[class^="im-"] .custom-block-title {
  font-size: calc(var(--vp-custom-block-font-size, 14px) * 1.3);
  letter-spacing: .25em;
}

.custom-block.info.im-badges {
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.custom-block.info.im-badges .custom-block-title {
  display: none;
}

.custom-block.info.im-badges p:not(.custom-block-title) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-block.info.im-badges p:not(.custom-block-title) img {
  margin: 0 .25em .25em 0;
}

.vp-doc table.im-table {
  display: table;
  width: 100%;
  --data-indent: 0;
}

.edit-info:not(:has(>.edit-link)) {
  justify-content: flex-end;
}

.vp-doc._webhook_ table,
.vp-doc._openapi_ table {
  margin: 0;
}

.im-table thead tr,
.im-table tbody tr:nth-child(2n) {
  background: linear-gradient(to right, transparent 0%, var(--vp-c-bg-soft) 10%, var(--vp-c-bg-soft) 90%, transparent 100%);
}

.im-table tr th,
.im-table tr td {
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.im-table[id] tr th,
.im-table[id] tr td {
  border: none;
}

.im-table[id] tbody tr:not(:first-child) {
  border: none;
}

.im-table[id] tbody tr:last-child {
  border-bottom: 1px solid var(--vp-c-divider);
}

.im-table thead th,
.im-table tbody tr td[rowspan]:first-child {
  cursor: default;
  white-space: nowrap;
}

.im-table tbody tr:nth-child(1n) td[rowspan]:first-child {
  background: linear-gradient(to right, transparent 0%, var(--vp-c-bg-soft) 40%, var(--vp-c-bg-soft) 100%);
}

.im-table tbody tr td:nth-of-type(1),
.im-table tbody tr td:nth-of-type(2) {
  font-family: var(--vp-font-family-mono);
}

.im-table .im-table-line {
  content: "\200b";
  font-size: 0;
  padding: 1px;
  background-color: var(--vp-c-divider);
}

#request tbody tr:hover,
#response tbody tr:hover {
  background: linear-gradient(to right, transparent 0%, var(--vp-c-green-soft) 10%, var(--vp-c-green-soft) 90%, transparent 100%);
}

th.type {
  width: 101px;
}

th.desc {
  width: 50%;
}

[data-indent="1"] {
  --data-indent: 1;
}

[data-indent="2"] {
  --data-indent: 2;
}

[data-indent="3"] {
  --data-indent: 3;
}

[data-indent="4"] {
  --data-indent: 4;
}

[data-indent="5"] {
  --data-indent: 5;
}

[data-indent="6"] {
  --data-indent: 6;
}

[data-indent="7"] {
  --data-indent: 7;
}

[data-indent="8"] {
  --data-indent: 8;
}

[data-indent="9"] {
  --data-indent: 9;
}

[data-indent="10"] {
  --data-indent: 10;
}

td[data-indent] {
  text-indent: calc(var(--data-indent) * .85em);
  white-space: nowrap;
}

td[data-required] {
  position: relative;
  z-index: 10;
  --im-mandatory-triangle-border: 8px;
  --im-mandatory-color: var(--vp-c-red-2);
}

td[data-required]::before {
  position: absolute;
  content: "\00FE61";
  color: var(--im-mandatory-color);
  text-indent: 0;
  top: calc(50% - .85em);
  left: calc(var(--data-indent) * .85em);
}

[data-tooltip] {
  position: relative;
  z-index: 15;
  --im-tooltip-color: var(--vp-c-neutral);
  --im-tooltip-bgcolor: var(--vp-c-neutral-inverse);
  --im-tooltip-shadow: var(--vp-c-green-soft);
  --im-tooltip-triangle-border: 8px;
  --im-tooltip-triangle-offset: calc(var(--im-tooltip-triangle-border) / 2);
}

[data-tooltip]::before,
[data-tooltip]::after {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease 0.2s;
  box-sizing: border-box;
  filter: drop-shadow(2px 2px 2px var(--im-tooltip-shadow));
}

[data-tooltip]::before {
  font-size: 0;
  content: "\200b";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--im-tooltip-triangle-border) var(--im-tooltip-triangle-border) 0 var(--im-tooltip-triangle-border);
  border-color: var(--im-tooltip-bgcolor) transparent transparent transparent;
  transform: translateX(0%) translateY(var(--im-tooltip-triangle-offset));
  left: calc(50% - var(--im-tooltip-triangle-border));
  top: 0;
}

[data-tooltip]::after {
  font-size: var(--vp-custom-block-font-size);
  color: var(--im-tooltip-color);
  content: attr(data-tooltip);
  position: absolute;
  padding: 8px 12px;
  min-width: max-content;
  z-index: -1;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%) translateY(var(--im-tooltip-triangle-offset));
  background: var(--im-tooltip-bgcolor);
  line-height: 1;
  border-radius: 6px;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}
